include COPYING
include MANIFEST.in
include README.rst
include TODO.rst
include tox.ini
include .travis.yml

include perf/tests/*.json

include doc/conf.py doc/make.bat doc/Makefile
include doc/*.rst doc/*.png doc/*.jpg
include doc/examples/*.py
