name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.11']
        include:
          - os: ubuntu-latest
            python: '3.7'
          - os: ubuntu-latest
            python: '3.8'
          - os: ubuntu-latest
            python: '3.9'
          - os: ubuntu-latest
            python: '3.10'
          - os: ubuntu-latest
            python: 'pypy3.9'
          - os: ubuntu-latest
            python: 'pypy3.8'
          - os: ubuntu-latest
            python: 'pypy3.7'

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
