name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tox-jobs:
    strategy:
      fail-fast: false
      matrix:
        tox-job: [doc, pep8]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install tox
      - run: tox -e ${{ matrix.tox-job }}
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.13-dev']
        include:
          - os: ubuntu-latest
            python: 'pypy3.10'
          - os: ubuntu-latest
            python: 'pypy3.9'
          - os: ubuntu-latest
            python: 'pypy3.8'
          - os: ubuntu-latest
            python: '3.8'
          - os: ubuntu-latest
            python: '3.9'
          - os: ubuntu-latest
            python: '3.10'
          - os: ubuntu-latest
            python: '3.11'
          - os: ubuntu-latest
            python: '3.12'

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
